/* formulaire-moderne.css */

.formulaire-moderne {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

select,
input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    width: auto;
    padding: 12px 20px;
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.btn-orange {
    background: linear-gradient(90deg, #ff5f03 0%, #ff5f03 100%);
}

.btn-rouge {
    background: linear-gradient(179deg, #ff0320 0%, #ff0320 100%);
}

.btn-vert {
    background: linear-gradient(179deg, #0b8d03 0%, #0b8d03 100%);
}

.btn-bleu {
    background: linear-gradient(179deg, #0037ff 0%, #0037ff 100%);
}

button:hover {
    opacity: 1;
}
